html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hero {
  height: 800px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(images/hero-img.jpg);
  background-size: cover;
  /*1900px 800px;*/
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 1fr));
  grid-template-rows: repeat(20, minmax(0, 1fr));
}

.banner {
  /* padding: var(--containers-padding); */
  background-color: transparent;
  grid-column: 7 / 18;
  grid-row: 5 / 16;
  /* width: 20rem; */
  /* height: 5rem; */
}

.banner h1 {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.5rem;
}

.banner-button-container {
  text-align: center;
  margin-top: 50px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--containers-padding);
}

.services button {
  margin-top: 10px;
}

.services article {
  height: 180px;
}

.mission-and-values {
  background-color: var(--grey);
}

.mission-and-values ol {
  list-style: decimal;
  padding-left: 20px;
}

.mission-and-values li {
  padding-top: 10px;
  line-height: normal;
}

.mission-and-values-text {
  display: flex;
  align-items: center;
}

.mission-and-values .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--containers-padding);
  place-items: center;
}

.mission-and-values-img {
  width: 510px;
  display: block;
}

.numbers h2 {
  color: --var(white);
}

.numbers .container {
  display: flex;
}

.numbers .quote {
  background-color: var(--blue);
}

.quote .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.numbers {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.85)),
    url(images/numbers-backdrop.jpg);
  background-size: cover;
  color: white;
}

.numbers .container {
  display: flex;
  justify-content: space-between;
}

.number {
  text-align: left;
  width: 220px;
}

.number h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--white);
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}

.actual-quote {
  font-size: 27px;
}

@media screen and (max-width: 920px) {
  :root {
    --generic-containers-width: 700px;
  }

  .hero {
    height: 300px;
  }

  .banner {
    /* display: none; */
    grid-column: 2 / 18;
    /* grid-row: 6 / 12; */
    font-size: 13px;
  }

  .banner h1 {
    /*   font-size: 20px; */
    /* font-size: 50rem; */
  }

  .mission-and-values-img {
    width: var(--generic-containers-width);
  }

  .services {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .mission-and-values .container {
    grid-template-columns: 1fr;
  }

  .mission-and-values-img {
    grid-row: 1;
  }

  .numbers .container {
    flex-direction: column;
    align-items: center;
  }

  .numbers .container > :not(:last-child) {
    margin-bottom: 60px;
    width: 180px;
  }

}

@media screen and (max-width: 550px) {
  .banner p {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 465px) {
  .banner {
    grid-row: 2 / 10;
  }

  .banner p {
    font-size: 1rem;
  }
  .banner h1 {
    font-size: 2.2rem;
w: 3 / 10;
  }
}

